/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
docker-compose.yml
nextjs/.next
symfony/var
symfony/vendor
*.log
.DS_Store
Thumbs.db

